.logo-brasil-revistas{
	position: relative;
	overflow: hidden;
	margin: 0px auto;
	width: auto;
	padding: 0px 20px;
	max-width: 960px;
	float: right;
}
.page-grid{
	margin-left: 150px;
	margin-right: 150px;
}
a {
	text-decoration: unset;
	
}
.item{
	font-size: ;
}
h4{
	font-size: 18px;
	color: #7DC48A
}