.social {
  width: 22px;
  height: 22px;
  margin-left: 5px;
  display: inline-block;
  margin-bottom: 0;
  padding-bottom: 0;
  float: right;
  background-position: center;
  background-size: cover;
  margin-top: 5%
}

/* line 64, ../sass/core/containers/_header.scss */
.facebook {
  background: url("../images/facebook.png") no-repeat;
}

/* line 67, ../sass/core/containers/_header.scss */
.twitter {
  background: url("../images/twitter.png") no-repeat;
}

/* line 70, ../sass/core/containers/_header.scss */
.youtube {
  background: url("../images/youtube-magazine.png") no-repeat;
}

/* line 74, ../sass/core/containers/_header.scss */
.flikr {
  background: url("../images/flikr-magazine.png") no-repeat;
}